<div class='container'>
  <div class='card pt-3'>
    <div class='media card'>
      <img class='d-flex mr-3' src='http://gravatar.com/avatar/424242' alt='Generic placeholder image'>
      <div class='media-body'>
        <h5 class='mt-0 mb-1'>List-based media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
        vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
        lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
  <div class="container">
    <div class="pt-3">
      <button class="btn btn-success btn-sm" href="" data-toggle="modal" data-target="#new_answer_modal">Submit new answer</button>
    </div>

    <%= render 'home/new_answer_form' %>

    <ul class="list-unstyled">
      <li class="media pt-3">
        <img class="d-flex mr-3" src='http://gravatar.com/avatar/424242' alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </li>
      <li class="media my-4 pt-3">
        <img class="d-flex mr-3" src='http://gravatar.com/avatar/424242' alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </li>
      <li class="media pt-3">
        <img class="d-flex mr-3" src='http://gravatar.com/avatar/424242' alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </li>
    </ul>
  </div>
</div>